<div class="a-row">
    back to main page
</div>
<div class="container">
    <div>
        <div class="col-right">
            <div class="buybox-cover">
                <div class="price_option">
                    <div class="a-row flex-row with_padding">
                        <div class="a-size6">
                            <span class="a-button">
                                <span class="title">Kindle</span>
                                <span class="price">$9.99</span>
                                <span class="normal">Available instantly</span>
                            </span>
                        </div>
                        <div class="a-size6">
                            <span class="a-button">
                                <span class="title">Audiobook</span>
                                <span class="price">$0.00</span>
                                <span class="normal">with membership trial</span>
                            </span>
                        </div>
                    </div>
                    <div class="a-row flex-row with_padding">
                        <div class="a-size6">
                            <span class="a-button">
                                <span class="normal">Handcover</span>
                                <span class="price">$7.49</span>
                            </span>
                        </div>
                        <div class="a-size6">
                            <span class="a-button">
                                <span class="normal">Paperback</span>
                                <span class="price">$11.12</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="a-row">
                    <span>
                        <a>
                            <span>
                                Other Used, New, Collectible from ($1.50)
                            </span>
                            <i></i>
                        </a>
                    </span>
                </div>
                <div class="buybox">
                    <form method="post" id="addToCart" action="" autocomplete="off">
                        <div class="buybox-inner">
                            <div>
                                <span>-61%</span>
                                <span>$7.49</span>
                            </div>
                            <div>
                                <span>List Price: $18.99</span>
                                <i></i>
                            </div>
                            <div><a>FREE Returns</a></div>
                            <div>
                                <span>No Import Charges & $30.98 Shipping to Vietnam</span>
                                <a>Detail</a>
                            </div>
                            <div>
                                <span>Delivery Friday, May 31</span>
                                <i></i>
                                <a>Deliver to Vietnam</a>
                            </div>
                            <div>
                                In Stock
                            </div>
                            <div>
                                <select></select>
                            </div>
                            <button>
                                Add to Cart
                            </button>
                            <button>
                                Buy Now
                            </button>
                            <div class="grid-display">
                                <span>Ships from</span>
                                <span>Amazon.com</span>
                                <span>Sold by</span>
                                <span>Amazon.com</span>
                                <span>Returns</span>
                                <span>
                                    <a>
                                        30-days refund/replacement
                                    </a>
                                </span>
                                <span>Payment</span>
                                <span>
                                    <a>
                                        Secure transaction
                                    </a>
                                </span>
                            </div>
                            <div>
                                <input type="checkbox">
                                <span>Add a gift receipt for easy returns</span>
                            </div>
                            <div>
                                Add to List
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="other_feature">

            </div>
        </div>
        <div class="author_card">
            <div class="nav-left">
                Follow the author
            </div>
            <div class="nav-mid">
                <img src="assets\pictures\kiwi.jpg" style="height: 30px; width: 50px;">
                <h5 class="author-name">"Author Name"</h5>
                <span class="a-button">
                    Follow
                </span>
            </div>
            <div class="nav-right">
                More books form this author
            </div>
        </div>
        <div class="col-left">
            <div class="small-spacing" style="text-align: center;">
                <div class="a-row">
                    <img src="assets\pictures\book11.jpg">
                </div>
                <div class="a-row">
                    Roll over image to zoom in
                </div>
                <div class="a-row">

                </div>
                <div class="a-row">
                    <span class="">Read Sample</span>
                    <span class="">Audio Sample</span>
                </div>
            </div>
        </div>
        <div class="col-center">
            <div class="a-row">
                <span>Oh, the Places You'll Go!</span>
                <span>Hardcover - January 22, 1990</span>
            </div>
            <div class="a-row">
                by Dr. Seuss (Author)
            </div>
            <div class="grid-display">
                <div class="itemcol-left">
                    <div>
                        (Placehoder)
                    </div>
                    <div>
                        <a>
                            Part of: Classic Seuss (30 books)
                        </a>
                    </div>
                    <div>
                        <a>
                           <i></i>
                            <span>#15 this week</span> 
                        </a>
                    </div>
                </div>
                <div class="itemcol-right">
                    <div>See all formats and editions</div>
                </div>
            </div>
            <div>
                <div class="book-decription">
                    Dr. Seuss's wonderfully wise Oh, the Places You'll Go! is the perfect gift to celebrate all of our special milestones—from graduations to birthdays and beyond!
                    <br><br>
                    “[A] book that has proved to be popular for graduates of all ages since it was first published.”—The New York Times
                    <br><br>
                    From soaring to high heights and seeing great sights to being left in a Lurch on a prickle-ly perch, Dr. Seuss addresses life's ups and downs with his trademark humorous verse and whimsical illustrations.
                    <br><br>
                    The inspiring and timeless message encourages readers to find the success that lies within, no matter what challenges they face. A perennial favorite and a perfect gift for anyone starting a new phase in their life!
                </div>
                <div class="a-row">
                    <i></i>
                    <a>Report an issue with this product or seller</a>
                </div>
            </div>
        </div>
    </div>
    <div class="a-row"></div>
    <div class="a-row"></div>
    <div class="a-row"></div>
    <div class="a-row"></div>
</div>