<header class="navbar-main">
  <div class="nav-bar">
    <div class="nav-top">
      <div class="nav-left">
        <div>
          <a href=""><img class="logo-icon" src="assets/pictures/kiwi.jpg"></a>
        </div>
        <div id="nav-global-location">
          <a>
            <i></i>
            <div>
              <span>Deliver to</span>
              <span>Viet Nam</span>
            </div>
          </a>
        </div>
      </div>
      <div class="nav-mid">
        <div id="nav-search">
          <form name="site-search" method="get" role="search" accept-charset="utf-8" style="display: flex;">
            <div class="nav-left">
              <select name="cb_SearchBox">
                <option value=""></option>
              </select>
            </div>
            <div class="nav-mid">
              <label>Search Kiwi Store</label>
              <input name="txt_search_info" type="text" size="" class="">
            </div>
            <div class="nav-right">
              <button type="submit" style="color: beige; height: 40px;">
                kiwi
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="nav-right">
        <a>Tranlate Tool</a>
        <a>Account Tool</a>
        <a>Return and Order</a>
        <a>Cart</a>
      </div>
    </div>
    <div class="nav-main">
      <div class="nav-left">
        <a>All</a>
      </div>
      <div class="nav-mid">
        <a>Today's Deals</a>
        <a>Customer Service</a>
        <a>Registry</a>
        <a>Sell</a>
      </div>
      <div class="nav-right"></div>
    </div>
    <div class="nav-subnav">
      <a routerLink="/books" routerLinkActive="active" aria-current="page">Books</a>
      <a routerLink="/advance-search" routerLinkActive="active" aria-current="page">Advanced Search</a>
      <a routerLink="/new-release" routerLinkActive="active" aria-current="page">New Releases</a>
      <a>Best Seller and More</a>
      <a>Children's Books</a>
      <a>Text Books</a>
      <a>Book Of The Month</a>
      <a>Best Book Of 2023</a>
      <a>Your Company Bookshelf</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>