<header class="navbar-main">
  <div class="nav-bar">
    <div class="nav-top">
      <div class="nav-left">
        <div>
          <a href=""><img class="logo-icon" src="assets/pictures/kiwi.jpg"></a>
        </div>
        <div id="nav-global-location">
          <a>
            <i></i>
            <div>
              <span>Deliver to</span>
              <span>Viet Nam</span>
            </div>
          </a>
        </div>
      </div>
      <div class="nav-mid">
        <div class="nav-search">
          <form name="site-search" method="get" role="search" accept-charset="utf-8" style="display: flex;">
            <div class="nav-left">
              <div class="searchbox">
                <select name="cb_SearchBox">
                  <option value="" selected>
                    books
                  </option>
                </select>
              </div>
            </div>
            <div class="nav-mid" style="align-items: center;">
              <input name="txt_search_info" type="text" size="" class="search-item">
            </div>
            <div class="nav-right" style="align-items: center;">
              <button type="submit" style="color: green; height: 30px; width: 50px;">
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="nav-right">
        <div style="padding-left: 10px;">
          <a style="padding-left: 10px;">Tranlate Tool</a>
          <a style="padding-left: 10px;">Account Tool</a>
          <a style="padding-left: 10px;">Return and Order</a>
          <a style="padding-left: 10px;">Cart</a>
        </div>
      </div>
    </div>
    <div class="nav-main">
      <div class="nav-left">
        <a>All</a>
      </div>
      <div class="nav-mid">
        <a>Today's Deals</a>
        <a>Customer Service</a>
        <a>Registry</a>
        <a>Sell</a>
      </div>
      <div class="nav-right"></div>
    </div>
    <div class="nav-subnav">
      <a routerLink="/books" routerLinkActive="active" aria-current="page">Books</a>
      <a routerLink="/advance-search" routerLinkActive="active" aria-current="page">Advanced Search</a>
      <a routerLink="/new-release" routerLinkActive="active" aria-current="page">New Releases</a>
      <a>Best Seller and More</a>
      <a>Children's Books</a>
      <a>Text Books</a>
      <a>Book Of The Month</a>
      <a>Best Book Of 2023</a>
      <a>Your Company Bookshelf</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="part1">
    <table style="width: 100%; text-align: center; line-height: 28px; top: 0px;">
      <td style="padding: 20px;">
        <b>Get to Know Us</b><br>
        Careers<br>
        Blog<br>
        About Kiwi<br>
        Investor Relations<br>
        Kiwi Devices<br>
        Kiwi Science<br>
      </td>
      <td style="padding: 20px;">
        <b>Make Money with Us</b><br>
        Sell products on Kiwi<br>
        Sell on Kiwi Business<br>
        Sell apps on Kiwi<br>
        Become an Affiliate<br>
        Advertise Your Products<br>
        Self-Publish with Us<br>
        Host an Kiwi Hub<br>
        See More Make Money with Us<br>
      </td>
      <td style="padding: 20px;">
        <b>Kiwi Payment Products</b><br>
        Kiwi Business Card<br>
        Shop with Points<br>
        Reload Your Balance<br>
        Kiwi Currency Converter<br>
      </td>
      <td style="padding: 20px;">
        <b>Let Us Help You</b><br>
        Kiwi and COVID-19<br>
        Your Account<br>
        Your Orders<br>
        Shipping Rates & Policies<br>
        Returns & Replacements<br>
        Manage Your Content and Devices<br>
        Kiwi Assistant<br>
        Help<br>
      </td>
    </table>
  </div>
  <div class="part2">
    This sample website is made by Mai Huu Van
  </div>
</footer>
