<div class="a-row">
    <div class="banner">
        <span style="color: white; font-size: 60px; padding-top: 10px; line-height: 1.2em;">Kiwi New Release</span>
        <br>
        <span style="color: white; font-size: 24px;">Our best-selling new and future releases. Updated frequently.</span>
    </div>
</div>
<div class="container" style="padding-left: 21rem;">
    <div class="col-right">
        <h1>New Releases In Books</h1>
        <div class="grid-display">
            <div class="grid-content">
                <div class="content-num">
                    <span>#1</span>
                </div>
                <div class="content-box">
                    <a>
                        <div class="img-box">
                            <img src="assets\pictures\book1.jpg">
                        </div>
                    </a>
                    <a>Kiwi is the Kiwi 1st edition</a>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(author name)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(rating)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(books cover)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(prizes)</a>
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="content-num">
                    <span>#2</span>
                </div>
                <div class="content-box">
                    <a>
                        <div class="img-box">
                            <img src="assets\pictures\book2.jpg">
                        </div>
                    </a>
                    <a>Kiwi is the Kiwi 1st edition</a>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(author name)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(rating)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(books cover)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(prizes)</a>
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="content-num">
                    <span>#3</span>
                </div>
                <div class="content-box">
                    <a>
                        <div class="img-box">
                            <img src="assets\pictures\book3.jpg">
                        </div>
                    </a>
                    <a>Kiwi is the Kiwi 1st edition</a>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(author name)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(rating)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(books cover)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(prizes)</a>
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="content-num">
                    <span>#4</span>
                </div>
                <div class="content-box">
                    <a>
                        <div class="img-box">
                            <img src="assets\pictures\book4.jpg">
                        </div>
                    </a>
                    <a>Kiwi is the Kiwi 1st edition</a>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(author name)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(rating)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(books cover)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(prizes)</a>
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="content-num">
                    <span>#5</span>
                </div>
                <div class="content-box">
                    <a>
                        <div class="img-box">
                            <img src="assets\pictures\book5.jpg">
                        </div>
                    </a>
                    <a>Kiwi is the Kiwi 1st edition</a>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(author name)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(rating)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(books cover)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(prizes)</a>
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="content-num">
                    <span>#6</span>
                </div>
                <div class="content-box">
                    <a>
                        <div class="img-box">
                            <img src="assets\pictures\book6.jpg">
                        </div>
                    </a>
                    <a>Kiwi is the Kiwi 1st edition</a>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(author name)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(rating)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(books cover)</a>
                    </div>
                    <div  class="a-row" style="padding-bottom: 5px;">
                        <a>(prizes)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-left">
        <h3>Books</h3>
        <ul>
            <li>Art & Photography</li>
            <li>Biographies & Memoirs</li>
            <li>Business & Money</li>
            <li>Calendar</li>
            <li>Cookbooks, Food & Wine</li>
            <li>Children books</li>
            <li>Computer & Technology</li>
            <li>Comics & Graphic Novels</li>
            <li>History</li>
            <li>Law</li>
            <li>Science & Math</li>
            <li>Travel</li>
        </ul>
    </div>  
</div>